{% extends "layout.html" %}
{% load static %}

{% block title %}

Subscribe
{% endblock %}
{% block body %}

<!-- Fitness Plans Section Begin -->
<section class="pricing-section service-pricing spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Plans</span>
                    <h2>Choose Your Fitness Plan</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="ps-item">
                    <h3>Drop-in Class</h3>
                    <div class="pi-price">
                        <h2>$ 39.0</h2>
                        <span>PER SESSION</span>
                    </div>
                    <ul>
                        <li>Access to a single class</li>
                        <li>Unlimited equipment usage</li>
                        <li>Personalized trainer guidance</li>
                        <li>Weight loss focused classes</li>
                        <li>Flexible monthly subscription</li>
                        <li>No time constraints</li>
                    </ul>
                    <a href="{% url 'subscribe_with_membership' 'Monthly'%}" class="primary-btn pricing-btn">Enroll Now</a>
                    <a href="{% url 'subscribe_with_membership' 'Monthly'%}" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="ps-item">
                    <h3>12 Month Unlimited</h3>
                    <div class="pi-price">
                        <h2>$ 99.0</h2>
                        <span>UNLIMITED CLASSES</span>
                    </div>
                    <ul>
                        <li>Unlimited access to all classes</li>
                        <li>Free use of all gym equipment</li>
                        <li>Personalized trainer guidance</li>
                        <li>Specialized weight loss programs</li>
                        <li>12-month subscription commitment</li>
                        <li>No time constraints</li>
                    </ul>
                    <a href="{% url 'subscribe_with_membership' 'Yearly'%}" class="primary-btn pricing-btn">Enroll Now</a>
                    <a href="{% url 'subscribe_with_membership' 'Yearly'%}" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="ps-item">
                    <h3>6 Month Unlimited</h3>
                    <div class="pi-price">
                        <h2>$ 59.0</h2>
                        <span>UNLIMITED CLASSES</span>
                    </div>
                    <ul>
                        <li>Unlimited access to all classes</li>
                        <li>Free use of all gym equipment</li>
                        <li>Personalized trainer guidance</li>
                        <li>Specialized weight loss programs</li>
                        <li>6-month subscription commitment</li>
                        <li>No time constraints</li>
                    </ul>
                    <a href="{% url 'subscribe_with_membership' '6 Months'%}" class="primary-btn pricing-btn">Enroll Now</a>
                    <a href="{% url 'subscribe_with_membership' '6 Months'%}" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fitness Plans Section End -->


{% endblock %}